* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
li {
  list-style: none;
}
.hide {
  display: none;
}
.ml {
  margin-left: 25px;
}
.video-box {
  position: relative;
  width: 1200px;
  height: 600px;
  margin: 0 auto;
  overflow: hidden;
}
.video-player {
  width: 100%;
  height: 100%;
  object-fit: fill;
  overflow: hidden;
  border: 0;
  z-index: 100;
  vertical-align: bottom;
}
.pv-bar {
  width: 100%;
  height: 8px;
  background: rgba(255, 255, 255, 0.35);
  overflow: hidden;
  position: relative;
}
.pv-played {
  width: 0px;
  height: 8px;
  background: rgba(72, 133, 240, 1);
}
.pv-dot {
  display: none;
  width: 8px;
  height: 8px;
  background: #fff;
  position: absolute;
  left: 0;
  top: 0;
}
.pv-bar:hover .pv-dot {
  display: block;
}
.pv-dot:hover {
  cursor: pointer;
}
.bottom-tool {
  width: 100%;
  position: absolute;
  z-index: 2147483647;
  bottom: 0px;
  transition: all 1s;
  background: rgba(0, 16, 27, 0.7);
}
.pv-controls {
  padding: 10px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  line-height: 18px;
}
.pv-controls > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pv-time {
  margin-left: 10px;
  font-size: 12px;
}
.pv-speed {
  position: relative;
  width: 50px;
  text-align: center;
}
.selectList {
  display: none;
  position: absolute;
  top: -130px;
  left: 0;
  padding: 10px 0;
  border-radius: 8px;
  background: rgba(0, 16, 27, 0.7);
}
.selectList > li {
  text-align: center;
  padding: 2px 10px;
}
.selectList li:hover {
  background: rgba(72, 133, 240, 0.3);
  color: #fff;
}
.pv-listen {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pv-yl {
  width: 100px;
  height: 6px;
  position: relative;
  margin-right: 10px;
  border-radius: 5px;
  background: rgba(122, 124, 126, 0.7);
}
.pv-bg {
  width: 100px;
  height: 6px;
  background: rgba(72, 133, 240, 1);
  border-radius: 5px;
}
.pv-ol {
  width: 10px;
  height: 10px;
  position: absolute;
  right: 0;
  top: -2px;
  background: #fff;
  z-index: 10;
  border-radius: 50%;
}
.pv-speed:hover .selectList {
  display: block;
}
.play-btn,
.pv-iconyl,
.pv-screen,
.pv-screens {
  width: 18px;
  height: 18px;
}
.icon-zanting,
.icon-bofang,
.icon-yinliang,
.icon-jingyin,
.icon-huanyuan,
.icon-quanping,
.icon-shipinquanping,
.icon-tuichuquanping {
  color: #fff;
  font-size: 18px;
  font-weight: 650;
}
.icon-zanting,
.icon-bofang:hover,
.pv-speed,
.pv-listen,
.pv-screen {
  cursor: pointer;
}

video::-webkit-media-controls,
video::-moz-media-controls,
video::-webkit-media-controls-enclosure {
  display: none !important;
}

video::-webkit-media-controls-panel,
video::-webkit-media-controls-panel-container,
video::-webkit-media-controls-start-playback-button {
  display: none !important;
  -webkit-appearance: none;
}
